#comment-container .comment .comment-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


#comment-container .comment .comment-item{
    padding: 40px 30px 50px 30px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}

#comment-container .comment .comment-item:hover .comment-item{
    transition: translate(20px,20px);
}


#comment-container .comment-item .comment-img{ 
    margin: 20px 0;
}

