.form-add{
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
}

.form-add .form-container{
    position: relative;
    width: 450px;
    margin: 0 auto;
    top: 25%;
    background-color: white;
    border: 2px solid #ddd;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
}
.form-add .form-container .fa-times-circle{
    font-size: 30px;
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
}
.form-add .form-container .form-title{
    margin-bottom: 15px;
    font-size: 25px;
}

.form-add input{
    padding: 10px 20px;
    border:1px solid #ddd;
    border-radius: 10px;
}
.form-add input:focus{
    outline: none;
    border: 1px solid #393D72;
    box-shadow: 1px 1px 1px #393D72;
}

.form-add .form-input{
    margin-bottom: 30px;
}

.form-input label,
.form-input input{
    width: 100%;
    margin-top: 10px;
}

.form-input .img-product{
    margin-bottom: 15px;
}

.form-input .show-err{
    line-height: 10px;
    color: red;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13px;
}



